@charset "utf-8";
* 						{margin: 0; padding: 0;}
body						{font: 16px Georgia, serif;}

#page-wrap				{margin: 2% auto; color: white;}
#page-wrap >.main 		{border: 1px solid #999; padding: 1%;
						 margin-bottom: 1px; color: black;}

section > div				{padding: 5px;}
header, nav, section		{background: #eee; text-align: center;}
footer					{background: #eee; text-align: center;}
nav span             				{ margin: 0px 10px 0px 0px;
						width: 100%;
						display: inline-block;}

.ErrorMsgs          		 { color: #f61; font-size: smaler}
#s1							{ overflow-y: auto; margin-left: auto; margin-right: auto;}
#fquestion p {padding: 0.3em;}
#showQuestionTable tr td {padding: 0.5em; white-space: pre-line}
#showQuestionTable {margin: 0 auto;}

.questionsTable {
	border: 1px solid #1C6EA4;
	background-color: #EEEEEE;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
  }
.questionsTable td, table.questionsTable th {
	border: 1px solid #AAAAAA;
	padding: 3px 2px;
  }
.questionsTable tbody td {
	font-size: 13px;
  }
.questionsTable tr {
	background: #D0E4F5;
  }

.questionsTable tr:first-child{
	background: #cfa51b;
  }

.center {
	margin-left: auto;
	margin-right: auto;
  }